html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-family: 'Lobster',sans-serif;
    font-weight: lighter;
}
h2{
    font-size: 8rem;
    font-family: 'Lobster', sans-serif;
    font-weight: lighter;
}
h3{
    font-size: 3rem;
}

h4{
    font-size: 3rem;
}
p{
    font-size: 2.5rem;
}
li{
    font-size: 2rem;
}
a{
    color: white;
    text-decoration: none;
}
.contact {
    background: radial-gradient(#525252,#131313);
}
.nav-container{
    background: rgb(7,7,7);
    position: sticky;
    top: 0;
    z-index: 2;
}

nav{
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-between;
        flex: 3;
        list-style: none;
    }
    #logo{
        flex: 2;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 6rem;
            height: 6rem;
            background: green;
            border-radius: 50%;
            transform: translate(-10%,-20%);
            mix-blend-mode: screen;
        }
    }
    .ordenar{
        background: green;
        padding: 1rem 2rem;
        border-radius: 2rem;
    }
}.contactus{
        display: grid;
        min-height: 90vh;
        grid-template-columns: 10% repeat(3,minmax(5rem, 1fr)) 10%;
        grid-template-rows: 1fr 2fr 1fr;
        h2{
            grid-column: 2/3;
            align-self: stretch;
        }
        img{
            grid-row: 2/3;
            grid-column: 4/5;
            height: 90%;
            object-fit: cover;
            align-self: center;
            justify-self: center;
        }
        .desc{
            grid-column: 2/3;
            grid-row: 2/3;
            align-self: center;
            object-fit: center;
            justify-self: center;
        }
        p{
            padding-bottom: 3rem;
        }
}
@media screen and (max-width: 1200px) {
    html {
      font-size: 50%;
    }
    nav {
      #logo {
        flex: 1;
      }
      ul {
        li {
          margin-left: 1.85rem;
        }
      }
    }
    .contactus {
      grid-template-columns: 10% 1fr 10%;
      img {
        width: 100%;
        object-fit: contain;
      }
      h2,
      .desc {
        grid-column: 2/3;
        text-align: center;
      }
    }
}